<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Page</title>
</head>
<body>
    <h1>{{ hello }}</h1>
    <p>{{ name }}</p>
    <h1>User Input:</h1>
    <form action = "/index/" method="post">
        {%  csrf_token  %}
        UserName: <input type="text" name="username" /><br />
        Password: <input type="password" name="password" /><br />
        <input type="submit" value="login" />
    </form>
    <h1>用户展示：</h1>
        <table border="1">
            <thead>
                <tr>用户名</tr>
                <tr>密码</tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.user }}</td>
                    <td>{{ item.pwd }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
   <!--<h1 style="background-color: antiquewhite;color: black">Hello World!</h1>
   <script src="/static/js/jquery-3.5.1.min.js"></script> -->

</body>
</html>